body {
  background-color: #f5f5f5;
  font-size: 14px;
}

.layout {
  min-width: 320px;
  max-width: 640px;

  margin: 0 auto;
  padding-bottom: 70px;
}

/* 頭部 */
.jd-header {
  width: 100%;
  height: 44px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
}

.jd-header .header-in {
  min-width: 320px;
  max-width: 640px;
  height: 44px;
  position: relative;
  margin: 0 auto;
  background-color: rgba(98, 92, 121, 0.8);
}

/* logo */
.jd-header .header-in .icon-logo {
  width: 60px;
  height: 30px;
  position: absolute;
  background-position: 0 -103px;
  margin-top: 5px;
  margin-left: 10px;
}

.jd-header .header-in form {
  width: 100%;
  height: 100%;
  padding-left: 80px;
  padding-right: 50px;
}

.jd-header .header-in .icon-search {
  width: 20px;
  height: 20px;
  background-position: -60px -109px;
  position: absolute;
  left: 90px;
  top: 12px;
}

.jd-header .header-in form input {
  width: 100%;
  height: 30px;
  border-radius: 15px;
  margin-top: 7px;
  padding-left: 35px;

}

/* 登陸 */
.jd-header .header-in .header-login {
  position: absolute;
  right: 10px;
  top: 0px;
  color: #fff;
  line-height: 44px;
}


/* 輪播圖 */
.banner {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.banner ul{
  width: 1000%;
  transform: translateX(-10%);
}
.banner ul li{
  width: 10%;
  float: left;
}
.banner ul li a {
  width: 100%;
  height: 100%;
  display: inline-block;
}
.banner ul li a img {
  width: 100%;
}
.banner ol {
  width: 118px;
  height: 6px;
  position: absolute;
  bottom: 8px;
  left: 50%;
  margin-left: -59px;
}
.banner ol li {
  width: 8px;
  height: 8px;
  border: 1px solid #fff;
  border-radius: 15px;
  float: left;
  /* background: #fff; */
  margin-left: 6px;
}

/* 導航 */
.jd-nav {
  width: 100%;
  background: white;
}
.jd-nav ul {
  width: 100%;
}
.jd-nav ul li {
  width: 20%;
  float: left;
  text-align: center;
  margin: 10px 0;
}

.jd-nav ul li a {
  display: inline-block;
}

.jd-nav ul li a img {
  width: 40px;
}


/* 產品 */
.product {
  width: 100%;
  /* background: #fff; */
  margin-top: 10px;
}
.product section {
  width: 100%;
  background: #fff;
  margin-bottom: 10px;
}
.product section .product-title {
  width: 100%;
  height: 36px;
  line-height: 36px;
  position: relative;
}
.product section .product-title .p-title-img {
  width: 60px;
  height: 24px;
  margin-top: 6px;
}
.product section .product-title .product-kill {
  display: inline-block;
  line-height: 36px;
}
.product section .product-title .product-kill span {
  padding: 0 3px;
  color: #fff;
  background: #000;
}
.product section .product-title .product-kill span:nth-child(3n){
  color: #000;
  background: #fff;
  padding: 0;
}
.product section .product-title .p-more {
  float: right;
  color: rgb(98, 92, 121);
  position: relative;
  margin-right: 25px;
}
.product section .product-title .p-more::after{
  content: '';
  background: url("../images/home/product/arrow_rt.png");
  background-size: 12px 12px;
  width: 12px;
  height: 12px;
  position: absolute;
  right: -20px;
  top: 13px;
}


/* 內容  */
.product .product-content {
  width: 100%;
  background: #fff;
}
.product .product-content ul {
  width: 100%;
}
.product .product-content ul li {
  width: 33.33%;
  float: left;
  text-align: center;
}
.product .product-content ul li img {
  width: 100%;
}
.product .product-content ul li .hot-price {
  color: #e9232c;
  margin-top: 10px;
  margin-bottom: 5px;
}
.product .product-content ul li .old-price {
  text-decoration: line-through;
  margin-bottom: 10px;
}
.product section .product-title h3 {
  font-weight: normal;
  margin-left: 10px;
  position: relative;
}
.product section .product-title h3::before {
  content: '';
  width: 5px;
  height: 20px;
  background-color: #e9232c;
  position: absolute;
  left: -8px;
  top: 8px;
}


.w-50 {
  width: 50%;
}
.w-50 img {
  width: 100%;
}
.border-bottom {
  border-bottom: 1px solid #e0e0e0;
}
.border-left {
  border-left: 1px solid #e0e0e0;
}
.border-right {
  border-right: 1px solid #e0e0e0;
}
.fl {
  float: left;
}
.fr {
  float: right;
}



/* 尾部 */
.jd-tab {
  width: 100%;
  height: 56px;
  background: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
}
.jd-tab ul {
  width: 100%;
  height: 100%;
}
.jd-tab ul li{
  width: 20%;
  float: left;
  height: 100%;
  text-align: center;
}
.jd-tab ul li a {
  width: 100%;
  height: 100%;
  display: inline-block
}
.jd-tab ul li a img{
  width: 80px;
}

.jd-intro {
  width: 100%;
}
.jd-intro .jd-intro-title {
  width: 100%;
  position: relative;
}
.jd-intro .jd-intro-title p {
  width: 100%;
  height: 22px;
}
.jd-intro .jd-intro-title span {
  width: 80px;
  position: absolute;
  text-align: center;
  top: 11px;
  left: 50%;
  margin-left: -40px;
  padding: 0 5px;
  background: #f5f5f5;
  color: #666;
}



.jd-intro .jd-intro-list {
  width: 100%;
  margin-top: 30px;
}
.jd-intro .jd-intro-list ul {
  width: 100%;
}
.jd-intro .jd-intro-list ul li {
  width: 49%;
  padding: 10px;
  background: #fff;
  color: #666;
  font-size: 12px;
  margin-bottom: 10px;

}
.jd-intro .jd-intro-list ul li:nth-child(2n+1){
  float: left;
}
.jd-intro .jd-intro-list ul li:nth-child(2n){
  float: right;
}
.jd-intro .jd-intro-list ul li img {
  width: 100%;
}
.jd-intro .jd-intro-list ul li div {
  font-size: 12px;
  margin-top: 10px;
}
.jd-intro .jd-intro-list div span:nth-child(1){
  color: #e9232c;
  float: left;
}
.jd-intro .jd-intro-list div span:nth-child(2){
  float: right;
  border: 1px solid #e0e0e0;
  width: 60px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  color: #666;
  border-radius: 3px;
}